html,
body {
  height: 100%; /* Обязательно для привязки к низу */
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto; /* Эта строка заставляет основной контент занимать всё свободное место, выталкивая футер вниз */
}

footer {
  flex-shrink: 0; /* Футер не должен сжиматься */
}
