$color-primary: #2d5e5e;
$color-secondary: #adddde;

$color-text-primary: black;
$color-text-secondary: white;

$font-text-primary: "Montserrat", sans-serif;
$font-text-secondary: "Oswald", sans-serif;

$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-x-large: 48px;

$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-bold: 700;

$line-height-primary: 24px;
$line-height-secondary: 72px;
