.container_div {
  background-color: hsl(87, 78%, 45%);
  width: 15vw;
  height: 10vh;
  margin: 10px;
}

.container {
  margin: auto;
}

.left {
  float: left;
}

.center {
  margin-left: calc(50vw - 15vw);
}

.fit-content {
  width: calc(30vw + 30px);
  height: calc(20vh + 30px);
}

.right {
  float: right;
}

.margin-top {
  margin-top: 0;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.big {
  height: calc(20vh + 10px);
}
