@use 'variables' as *;

// Flex center
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Container
@mixin container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 15px;
}

// Media mixins
@mixin tablet {
    @media (min-width: $bp-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $bp-desktop) {
        @content;
    }
}

@mixin phone {
    @media (max-width: $bp-phone) {
        @content;
    }
}