// Colors
$color-primary: #34547a;
$color-bg: #eeeff1;
$color-text: #727272;
$color-black: #000;
$color-white: #fff;

// Fonts
$font-main: 'Roboto', sans-serif;

// Sizes
$container-width: 1110px;

// Breakpoints
$bp-phone: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;


