.main {
  background-image: url("../images/photo-main.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 560px) {
  .main {
    background-position: left bottom;
  }
}
.main {
  width: 100%;
}
.main__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  flex-wrap: wrap;
}
.main__logo {
  padding-top: clamp(10px, 2vw, 30px);
  padding-right: 30px;
  padding-left: clamp(20px, 9vw, 130px);
}
.main__about {
  padding-top: clamp(30px, 10vw, 150px);
  padding-left: clamp(20px, 9vw, 130px);
  padding-bottom: clamp(40px, 13vw, 190px);
}
.main__about-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0;
  max-width: 416px;
}
@media (max-width: 950px) {
  .main__about-title {
    max-width: 300px;
  }
}
.main__about-title {
  margin: 0;
}
.main__about-text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0;
  width: 255px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.main__about-btn {
  height: 48px;
  border: none;
  background-color: #2d5e5e;
}

.menu {
  padding-right: 130px;
  padding-left: 20px;
  padding-top: 55px;
}
.menu__items {
  display: flex;
  gap: 17px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__item {
  font-family: "Montserrat", sans-serif;
  color: #85aaab;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  text-decoration: none;
}
.menu__item:hover {
  color: #6de1e3;
  border-bottom: solid 2px #6de1e3;
}

.consultations {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 90px;
  padding: 60px 0 37px;
}
.consultations__item {
  width: 100%;
  text-align: center;
}
.consultations__item-title {
  font-family: "Oswald", sans-serif;
  color: #2d5e5e;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}
.consultations__item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
}

.about {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/about-bg.png");
  flex-wrap: wrap;
  gap: 135px;
}
@media (max-width: 1295px) {
  .about {
    justify-content: center;
    gap: 30px;
  }
}
.about__about-me {
  padding-left: clamp(20px, 9vw, 130px);
  padding-top: clamp(10px, 4vw, 60px);
  padding-bottom: clamp(10px, 4vw, 60px);
  width: 570px;
}
.about__about-me-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0;
  padding-bottom: 50px;
}
.about__about-me-text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  padding-bottom: 35px;
}
.about__about-me-btn {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.about__about-me-btn-question {
  height: 40px;
  border: 3px solid #2d5e5e;
  background-color: transparent;
}
.about__about-me-btn-appointment {
  height: 40px;
  border: none;
  background-color: #2d5e5e;
}
.about__img {
  padding-top: clamp(10px, 4vw, 60px);
  padding-bottom: clamp(10px, 4vw, 60px);
}
@media (max-width: 475px) {
  .about__img {
    width: 100%;
  }
}

.signup {
  display: grid;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}
.signup__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0;
  color: black;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 46px;
}
.signup__form {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-template-rows: repeat(3, auto);
  gap: 30px;
}
.signup__form-request {
  grid-column: 2;
  grid-row: 1/span 3;
  width: 100%;
  height: 180px;
}
@media (max-width: 500px) {
  .signup__form-request {
    grid-column: auto;
    grid-row: auto;
  }
}
.signup__form-input-topic {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}
.signup__form-input-topic::picker-icon {
  align-items: center;
  justify-content: center;
}
.signup select,
.signup ::picker(select) {
  -webkit-appearance: base-select;
     -moz-appearance: base-select;
          appearance: base-select;
}
.signup__btn {
  background-color: #2d5e5e;
  border: none;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.info {
  display: grid;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/counter-bg.png");
  background-size: cover;
  grid-template-columns: repeat(auto-fit, minmax(303px, 1fr));
  gap: 85px;
  padding-top: clamp(10px, 4vw, 60px);
  padding-bottom: clamp(10px, 4vw, 60px);
  padding-right: clamp(20px, 9vw, 180px);
  padding-left: clamp(20px, 9vw, 138px);
}
.info__item {
  text-align: center;
  justify-self: center;
}
.info__item-title {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0;
}
.info__item-sub-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  padding-top: 14px;
}
.info__item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: white;
  padding-top: 20px;
  max-width: 303px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}
.reviews__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0;
  color: black;
  padding-top: 60px;
}
.reviews__slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 53px;
}
.reviews__item-top {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
  padding-top: 20px;
}
.reviews__item {
  max-width: 600px;
}
@media (max-width: 600px) {
  .reviews__item {
    width: 320px;
  }
}
.reviews__item {
  height: auto;
  background-color: #adddde;
  display: flex;
  flex-direction: column;
}
.reviews__item-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__item-title {
  font-family: "Oswald", sans-serif;
  color: #2d5e5e;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}
.reviews__item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
  font-weight: 300;
  padding: 30px 25px 20px 25px;
}
.reviews__btn {
  border: none;
  background-color: transparent;
}

.articles {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/news-bg.png");
  background-size: cover;
}
.articles__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0;
  padding-left: 142px;
  padding-top: 60px;
}
.articles__items {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(20px, 6vw, 84px);
  padding-bottom: clamp(10px, 4vw, 60px);
  padding-top: clamp(10px, 4vw, 60px);
  padding-left: clamp(20px, 9vw, 130px);
  padding-right: clamp(20px, 9vw, 130px);
}
.articles__item {
  width: 334px;
}
.articles__item-text {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
}

.faq__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0;
  color: black;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 78px;
}
.faq__items {
  max-width: 945px;
  padding: 0 305px 60px 190px;
}
@media (max-width: 850px) {
  .faq__items {
    padding: 10px;
  }
}
.faq__item-title {
  font-family: "Oswald", sans-serif;
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  cursor: pointer;
  list-style: none;
}
.faq__item-title::after {
  content: url("../images/faq-open.svg");
  padding-right: 20px;
  float: left;
}
.faq__item[open] .faq__item-title {
  color: #2d5e5e;
}
.faq__item[open] .faq__item-title::after {
  content: url("../images/faq-close.svg");
}
.faq__item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
  padding-left: 45px;
  padding-bottom: 40px;
}

.contacts {
  position: relative;
  width: 100%;
}
.contacts__map iframe {
  display: block;
  width: 100%;
}
@media (max-width: 750px) {
  .contacts__map iframe {
    height: 350px;
  }
}
.contacts__card {
  position: absolute;
  top: clamp(20px, 9vw, 130px);
  left: clamp(150px, 57vw, 828px);
  width: 477px;
  height: 344px;
}
@media (max-width: 1120px) {
  .contacts__card {
    position: static;
    margin: 20px auto 0 auto;
  }
}
@media (max-width: 480px) {
  .contacts__card {
    width: 350px;
  }
}
.contacts__card {
  background-color: #adddde;
}
.contacts__card-title {
  font-family: "Oswald", sans-serif;
  color: #2d5e5e;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0;
  padding-left: 30px;
  padding-top: 27px;
  padding-bottom: 10px;
}
@media (max-width: 480px) {
  .contacts__card-title {
    padding-left: 10px;
  }
}
.contacts__card-info {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
  padding-left: 30px;
  padding-top: 10px;
}
@media (max-width: 480px) {
  .contacts__card-info {
    padding-left: 10px;
  }
}

.discount {
  text-align: center;
}
.discount__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0;
  color: black;
  text-align: center;
  padding-top: 60px;
}
.discount__contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 60px;
}
.discount__contacts-name, .discount__contacts-phone {
  width: 370px;
  height: 40px;
}
.discount__contacts-btn {
  width: 370px;
  background-color: #2d5e5e;
  border: none;
}

.footer {
  height: 190px;
  background-color: #2d5e5e;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 720px) {
  .footer {
    height: auto;
  }
}
.footer__img {
  width: 200px;
  padding-left: clamp(20px, 9vw, 130px);
}
.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}
.footer__contacts-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  color: white;
  font-size: 14px;
}
.footer #footer-insta::before {
  content: url("../images/instagram-logo.svg");
  padding-right: 10px;
  vertical-align: middle;
}
.footer #footer-viber::before {
  content: url("../images/viber.svg");
  padding-right: 10px;
  vertical-align: middle;
}
.footer #footer-telegram::before {
  content: url("../images/telegram.svg");
  padding-right: 10px;
  vertical-align: middle;
}
.footer #footer-phone::before {
  content: url("../images/phone-call.svg");
  padding-right: 10px;
  vertical-align: middle;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  margin: 0;
}

.btn {
  width: 250px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: white;
}

.input {
  border-radius: 10px;
  border: 1px solid black;
}
.input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
  padding-left: 20px;
}
.input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: black;
  padding-left: 20px;
}

.previous-btn {
  padding-right: 43px;
}
@media (max-width: 600px) {
  .previous-btn {
    padding-right: 5px;
  }
}

.next-btn {
  padding-left: 43px;
}
@media (max-width: 600px) {
  .next-btn {
    padding-left: 5px;
  }
}

.checkbox {
  display: none;
}

.checkmark {
  width: 15px;
  height: 15px;
  border: solid 1px #2d5e5e;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.checkmark::after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #2d5e5e;
  display: none;
}

.checkbox:checked + .checkmark::after {
  display: block;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0;
  color: #2d5e5e;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=main.css.map */