@use "../utils/variables" as *;
@use "../utils/mixins" as *;

#about {
  text-align: center;
  padding: 100px 0;

  h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  p {
    max-width: 540px;
    margin: 0 auto;
    color: $text-color;
  }
}
