@use "../utils/variables" as *;
@use "../utils/mixins" as *;

#numbers {
  background-color: $primary-color;
  padding: 80px 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .num-item {
    flex: 1 1 120px;
    display: flex;
    align-items: center;
    gap: 12px;

    &_text {
      display: flex;
      flex-direction: column;
    }

    &_count {
      color: $white;
      font-weight: 700;
    }

    &_label {
      color: $white;
      opacity: 0.8;
    }
  }
}
