@use "variables" as *;

@mixin container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
